{% extends "pages/page.html" %}

{% block title %}
	Email for reset
{% endblock title %}

{% block nav %}
{% include "nav.html" %}
{% endblock nav %}

{% block main_content %}
  <div class="password-form">
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>Please Enter your Email below:</p>
      <p>{{ form.email }}</p>
    <div class="text-center">
    <input type="submit" class="btn btn-secondary" value="Reset password">
    </div>
  </form>
  </div>
{% endblock main_content %}